<!DOCTYPE HTML>
<html>
<head>
	@await Html.Part
	@await Html.PartialAsync("MetatagsPartial")
	@await Html.PartialAsync("CssPartial")
</head>
<body>
	<div id="page-wrapper">

		<!-- Header -->
		@await Html.PartialAsync(HeaderPartial")
		<!-- Main -->
		@await Html.PartialAsync(MainPartial")
		<!-- Footer -->
		@await Html.PartialAsync(FooterPartial")
	</div>
	@await Html.PartialAsync("ScriptPartial")
</body>
</html>